<a href="https://colab.research.google.com/github/Taishi-Ya/notebook001/blob/master/20230317.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
df = pd.DataFrame({
    'city': ['osaka', 'osaka', 'osaka', 'osaka', 'tokyo', 'tokyo', 'tokyo'],
    'food': ['apple', 'orange', 'banana', 'banana', 'apple', 'apple', 'banana'],
    'price': [100, 200, 250, 300, 150, 200, 400],
    'quantity': [1, 2, 3, 4, 5, 6, 7]
})

NameError: ignored

In [2]:
import pandas as pd
df = pd.DataFrame({
    'city': ['osaka', 'osaka', 'osaka', 'osaka', 'tokyo', 'tokyo', 'tokyo'],
    'food': ['apple', 'orange', 'banana', 'banana', 'apple', 'apple', 'banana'],
    'price': [100, 200, 250, 300, 150, 200, 400],
    'quantity': [1, 2, 3, 4, 5, 6, 7]
})

In [3]:
df

    city    food  price  quantity
0  osaka   apple    100         1
1  osaka  orange    200         2
2  osaka  banana    250         3
3  osaka  banana    300         4
4  tokyo   apple    150         5
5  tokyo   apple    200         6
6  tokyo  banana    400         7

In [5]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [6]:
df.columns

Index(['city', 'food', 'price', 'quantity'], dtype='object')

In [7]:
df.groupby('city').mean()

       price  quantity
city
osaka  212.5       2.5
tokyo  250.0       6.0

In [10]:
dfmean = df.groupby(['city', 'food']).mean()
dfmean

              price  quantity
city  food
osaka apple   100.0       1.0
      banana  275.0       3.5
      orange  200.0       2.0
tokyo apple   175.0       5.5
      banana  400.0       7.0

In [11]:
dfmean.index

MultiIndex([('osaka',  'apple'),
            ('osaka', 'banana'),
            ('osaka', 'orange'),
            ('tokyo',  'apple'),
            ('tokyo', 'banana')],
           names=['city', 'food'])

In [13]:
df.groupby('city').groups

{'osaka': [0, 1, 2, 3], 'tokyo': [4, 5, 6]}